@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+AU+SA&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
}

body {
    margin-top: 197px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#feecfd, #edcefb99);
}

.card-item {
    list-style: none;
}

.card-link {
    width: 400px;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.card-link:hover {
    border-color: blue;
}

.card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 12px;
}

.badge {
    color: rgb(0, 106, 255);
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 1em;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 18px;
    background: rgb(117, 210, 234);
    width: fit-content;
}



.card-title {
    color: black;
    font-size: 1em;
    font-weight: 600;
}

.card-button {
    margin-top: 18px;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    color: blue;
    border: 2px solid blue;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.2s ease;
}

.card-link:hover .card-button {
    color: white;
    background: blue;
}

.card-wrapper {
    max-width: 1300px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
    margin-left: 97px;
}

.category-title {
    margin-top: 31px;
    display: flex;
    justify-content: center;
}

.view-all-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.view-all-button {
    font-size: 18px;
    margin-left: 27px;
    padding: 12px;
    border-radius: 20px;
}